.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 66px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 217px;
  width: 349px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 64px auto 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
  }

  .u-section-1 .u-icon-1 {
    height: 211px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 3px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 457px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 457px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 3px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  min-height: 500px;
}

.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

.u-section-3 .u-slider-1 {
  margin-top: 32px;
  margin-bottom: 32px;
  min-height: 487px;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-carousel-item-2 {
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 0%;
  width: 607px;
  height: 427px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 375px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 225px;
  }
}