:root {
    --main-color: #389748;
    --secondary-color: #9b9b9b;

}
body {
    font-family: sans-serif;
    background-color: black;
    color:var(--secondary-color);
    padding: 2em;
    text-align: center;
    font-size: 15px;
}
h1 {
    color: var(--main-color);
    font-size: 40px;
    padding-top: 50px;
}
h2 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 20px;
    color: var(--main-color);
    padding-top: 25px;
}
a { 
    color: white;
    font-family: monospace;
}
b{
    padding-bottom: 10px;
}
dt{
    text-align: left;
    color: var(--main-color);
    font-weight: bold;
    padding-left:10em;
    padding-top:2em;

}
dd{
    text-align: left;
    color: var(--secondary-color);
    padding-left:10em;

}
span {
    color: white;
    /*font-size: 17px;*/
}